APP_ENV=development

JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

POSTGRES_HOST=localhost
POSTGRES_PORT=7001
POSTGRES_USER=sibila
POSTGRES_PASSWORD=
POSTGRES_DB=sibila
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

OPENAI_API_KEY=
OLLAMA_HOST=http://localhost
OLLAMA_PORT=7002
OLLAMA_PROXY_URL=${OLLAMA_HOST}:${OLLAMA_PORT}/v1
